html,
body {
  user-select: none;
  height: 100%;
  width: 100%;
}

.index-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index-container header {
  height: 1.33333rem;
  display: flex;
  background-color: #1e1d22;
  color: #fff;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
}

.index-container header span {
  font-size: 0.66667rem;
}

.index-container section {
  flex: 1;
  overflow: auto;
}

.index-container section .section-bscroll {
  height: 100%;
  overflow: auto;
}

.index-container section .section-bscroll div .section .image {
  width: 100%;
}

.index-container section .section-bscroll div .section .image .swiper-slide {
  height: 300px;
}

.index-container section .section-bscroll div .section .image .swiper-slide img {
  height: 100%;
  width: 100%;
}

.index-container section .section-bscroll div .section .content {
  margin-top: 0.26667rem;
}

.index-container section .section-bscroll div .section .content .nav {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 1.33333rem;
}

.index-container section .section-bscroll div .section .content .nav > div {
  position: absolute;
}

.index-container section .section-bscroll div .section .content .nav > div > div {
  display: flex;
}

.index-container section .section-bscroll div .section .content .nav > div > div span {
  text-align: center;
  width: 1.86667rem;
  margin-left: 0.26667rem;
  font-size: 0.46667rem;
}

.index-container section .section-bscroll div .section .content .nav .active {
  border-bottom: 3px solid #108cee;
  padding-bottom: 0.66667rem;
  color: #108cee;
}

.index-container section .section-bscroll div .section .content .section-content {
  padding: 0.4rem;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.index-container section .section-bscroll div .section .content .section-content .section-big {
  margin-bottom: 0.4rem;
  background-color: #fff;
  padding: 0.33333rem;
  display: flex;
  flex-direction: column;
}

.index-container section .section-bscroll div .section .content .section-content .section-big div {
  display: flex;
  padding-bottom: 0.4rem;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-one > p {
  font-size: 0.53333rem;
  font-weight: 600;
  padding-right: 0.26667rem;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-one > span {
  width: 1.36rem;
  height: 0.66667rem;
  background-color: #ff6638;
  text-align: center;
  line-height: 0.66667rem;
  font-size: 0.4rem;
  color: #fff;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-two {
  font-size: 0.4rem;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-two p {
  margin-right: 0.4rem;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-two small {
  color: #108cee;
  font-size: 0.4rem;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-stree {
  font-size: 0.4rem;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-stree > p {
  width: 3.6rem;
  line-height: 0.53333rem;
  text-align: center;
  border: 1px solid #108cee;
  height: 0.53333rem;
  margin-right: 0.26667rem;
  color: #108cee;
}

.index-container section .section-bscroll div .section .content .section-content .section-big .div-stree > span {
  width: 1.86667rem;
  line-height: 0.53333rem;
  text-align: center;
  border: 1px solid #ff9c7e;
  height: 0.53333rem;
  color: #ff9c7e;
}

.index-container footer {
  height: 1.33333rem;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index-container footer p {
  font-size: 0.26667rem;
  color: #fff;
  margin-left: 0.13333rem;
}

.index-container footer p:nth-child(4) {
  margin-right: 0.13333rem;
}
