html,
body {
  height: 100%;
}

.active {
  user-select: none;
  position: relative;
  font-size: 0.4rem;
  color: red;
  font-weight: 600;
}

.active::before {
  content: '';
  width: 0.10667rem;
  height: 0.53333rem;
  position: absolute;
  top: 0.4rem;
  left: 0;
  background-color: red;
}

.topColor {
  color: red;
  position: relative;
  font-weight: 600;
}

.topColor::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0.26667rem;
  border-bottom: 2px solid red;
  width: 1.6rem;
  display: inline-block;
}

.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index-container header {
  background-color: red;
  height: 1.33333rem;
}

.index-container section {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.index-container section .left {
  width: 2.26667rem;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.index-container section .left > div {
  position: absolute;
  width: 100%;
}

.index-container section .left > div .section-left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index-container section .left > div .section-left span {
  display: inline-block;
  height: 1.33333rem;
  line-height: 1.33333rem;
  text-align: center;
  font-size: 0.34667rem;
}

.index-container section .right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.index-container section .right .top {
  display: flex;
  align-items: center;
}

.index-container section .right .top .right-top {
  flex: 5;
  height: 1.46667rem;
  position: relative;
  overflow: hidden;
  line-height: 1.46667rem;
}

.index-container section .right .top .right-top > div {
  height: 100%;
  position: absolute;
}

.index-container section .right .top .right-top > div .bsc {
  height: 100%;
  display: flex;
}

.index-container section .right .top .right-top > div .bsc span {
  width: 2rem;
  font-size: 0.4rem;
  text-align: center;
}

.index-container section .right .top .icon {
  flex: 1;
  text-align: center;
  font-size: 0.8rem;
  background: linear-gradient(to left, white, white, transparent);
}

.index-container section .right .bottom {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.index-container section .right .bottom .botton-one {
  position: relative;
  height: 100%;
}

.index-container section .right .bottom .botton-one > div {
  position: absolute;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big {
  display: flex;
  flex-direction: column;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .nav {
  font-size: 0.53333rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent {
  display: flex;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .left-img {
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  width: 3.33333rem;
  height: 3.33333rem;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .left-img img {
  width: 100%;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .img-right {
  font-size: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .img-right P {
  margin-top: 0.26667rem;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .img-right > div {
  margin-top: 0.26667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .img-right > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.index-container section .right .bottom .botton-one > div .botton-bsc .right-big .right-centent .img-right > div > div:nth-child(2) {
  width: 0.8rem;
  height: 0.8rem;
  background-color: red;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 100%;
  font-size: 0.53333rem;
  color: #fff;
  margin-right: 0.26667rem;
}

.index-container footer {
  background-color: red;
  height: 1.33333rem;
}
