@function px2rem($px) {
    @return $px /75 *1rem;
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

.index-container {
    display: flex;
    flex-direction: column;
    height: 100%;


    header {
        z-index: 99;
        position: fixed;
        width: 100%;

        >div {
            font-size: px2rem(38);
            height: px2rem(115);
            display: flex;
            align-items: center;
            padding: 0 px2rem(40);
            justify-content: space-between;
            background-color: #F2F2F2;
        }
    }

    section {
        overflow: hidden;
        overflow: auto;
        flex: 1;
        display: flex;
        padding-top: px2rem(115);

        .bscro-left {
            height: 100%;
            overflow: hidden;
            width: px2rem(195);
            position: relative;

            >div {
                position: absolute;

                .bscroleft {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: px2rem(154);
                    overflow: auto;

                    span {
                        font-size: px2rem(28);
                        width: 100%;
                        height: px2rem(120);
                        line-height: px2rem(120);
                    }

                    .active {
                        color: #FB843F;
                        position: relative;
                        font-size: px2rem(35);

                        &::before {
                            left: 0;
                            top: px2rem(40);
                            position: absolute;
                            content: '';
                            display: inline-block;
                            width: px2rem(8);
                            height: px2rem(40);
                            background-color: #FB843F;
                        }
                    }
                }
            }
        }

        .bscro-right {
            width: 100%;
            border-left: 1px solid #ccc;
            overflow: hidden;

            .right-one {
                position: relative;
                height: 100%;

                .right-two {
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    .bscro-big {
                        overflow: hidden;
                        width: 100%;
                        display: flex;

                        flex-direction: column;

                        .bscro-top {
                            display: flex;
                            padding: 0 px2rem(30);
                            position: relative;

                            >.div-p {
                                height: px2rem(164);
                                background-color: #C9E7DF;
                                margin: px2rem(48) px2rem(32);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                p {
                                    &:nth-child(1) {
                                        font-size: px2rem(32);
                                        padding-left: px2rem(50);
                                        margin-bottom: px2rem(10);
                                    }

                                    &:nth-child(2) {
                                        font-size: px2rem(22);
                                        color: #7C938D;
                                        padding-left: px2rem(50);
                                    }
                                }
                            }

                            >.div-img {
                                position: absolute;
                                width: px2rem(90);
                                height: px2rem(190);
                                position: absolute;
                                right: px2rem(100);
                                top: px2rem(10);

                                img {
                                    width: 100%;
                                }
                            }

                        }

                        >div {
                            display: flex;
                            flex-direction: column;

                            .centent-top {
                                margin-bottom: px2rem(68);
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                span {
                                    &:nth-child(1) {
                                        width: px2rem(80);
                                        height: px2rem(5);
                                        background: #ccc;
                                        display: inline-block;
                                    }

                                    &:nth-child(2) {
                                        font-size: px2rem(45);
                                        padding: px2rem(20);
                                    }

                                    &:nth-child(3) {
                                        display: inline-block;
                                        width: px2rem(80);
                                        height: px2rem(5);
                                        background: #ccc;
                                    }
                                }
                            }

                            .centent-bottom {
                                margin-bottom: px2rem(56);
                                display: flex;
                                justify-content: space-between;
                                padding: 0 px2rem(60);

                                dl {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    dt {
                                        width: px2rem(78);
                                        height: px2rem(102);
                                        margin-bottom: px2rem(26);

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    dd {
                                        font-size: px2rem(26);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        height: px2rem(100);
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: px2rem(10) 0;

        dl {
            dt {
                margin-bottom: px2rem(10);
                font-size: px2rem(42);
            }

            dd {
                font-size: px2rem(22);
            }
        }
    }
}