body,
html {
  height: 100%;
}

.active {
  background-color: red;
}

.index-container {
  user-select: none;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index-container > header {
  font-size: 0.37333rem;
  background: #fff;
  display: flex;
  justify-content: center;
  height: 2.08rem;
  margin-bottom: 0.13333rem;
}

.index-container > header > span {
  padding: 0.06667rem;
  margin-top: 0.37333rem;
}

.index-container > section {
  background: #f5f5f5;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index-container > section > .section {
  position: relative;
  height: 100%;
}

.index-container > section > .section > div {
  width: 100%;
  position: absolute;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}

.index-container > section > .section > div > .section-top > .top-header {
  background: #fff;
  height: 1.14667rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 0.37333rem;
  padding-right: 0.26667rem;
}

.index-container > section > .section > div > .section-top > .top-header > span:nth-child(1) {
  margin-right: 0.26667rem;
  width: 0.6rem;
  height: 0.6rem;
  color: #fff;
  border: 1px solid red;
  border-radius: 50%;
  display: inline-block;
  line-height: 0.6rem;
  text-align: center;
}

.index-container > section > .section > div > .section-top > .top-middle {
  background: #fff;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big {
  display: flex;
  align-items: center;
  padding: 0.53333rem 0.34667rem;
  border-bottom: 1px solid #f5f5f5;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > span {
  margin-right: 0.26667rem;
  width: 0.6rem;
  height: 0.6rem;
  color: #fff;
  border: 1px solid red;
  border-radius: 50%;
  display: inline-block;
  line-height: 0.6rem;
  text-align: center;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-img {
  width: 1.86667rem;
  height: 1.86667rem;
  padding: 0.26667rem;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-img > img {
  height: 100%;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son {
  flex: 1;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > p:nth-child(1) {
  font-size: 0.4rem;
  margin-bottom: 0.16rem;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > p:nth-child(2) {
  font-size: 0.29333rem;
  width: 1.6rem;
  text-align: center;
  line-height: 0.4rem;
  height: 0.4rem;
  margin-bottom: 0.46667rem;
  font-size: 0.26667rem;
  border: 1px solid #d165e1;
  color: #d165e1;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > div {
  width: 100%;
  display: flex;
  margin-bottom: 0.13333rem;
  justify-content: space-between;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > div > .docll > span {
  color: red;
  font-size: 0.42667rem;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > div > .docll > span > small {
  font-size: 0.16rem;
  color: #a9a9a9;
  text-decoration: line-through;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > div > .shop {
  align-items: center;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > div > .shop span:nth-child(1) {
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  line-height: 0.64rem;
}

.index-container > section > .section > div > .section-top > .top-middle > .middle-big > .div-son > div > .shop span:nth-child(3) {
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 50%;
  background: #ffce5a;
  display: inline-block;
  text-align: center;
  line-height: 0.64rem;
}

.index-container > section > .section > div > .section-top > .top-footer {
  padding: 0.26667rem;
}

.index-container > section > .section > div > .section-top > .top-footer > div {
  padding: 0 0.26667rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 0.4rem;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  text-align: center;
  line-height: 1.2rem;
  align-items: center;
}

.index-container > section > .section > div > .section-top > .top-footer > div > span {
  background: #673e15;
  display: inline-block;
  width: 1.86667rem;
  height: 0.53333rem;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.53333rem;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 600;
}

.index-container > section > .section > div > .section-top > .top-footer > div > div {
  display: flex;
  align-items: center;
}

.index-container > section > .section > div > .section-top > .top-footer > div > div > span:nth-child(1) {
  color: #ff5096;
  margin-right: 0.16rem;
}

.index-container > section > .section > div > .section-top > .top-footer > div > div > span:nth-child(3) {
  border: 2px solid #ccc;
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  border-radius: 50%;
  margin-left: 0.32rem;
}

.index-container > section > .section > div > .section-top > .top-footers {
  margin: 0 0.26667rem;
  height: 8rem;
  background: #fff;
  border-radius: 0.26667rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > div:nth-child(1) {
  height: 1.46667rem;
  display: flex;
  justify-content: space-between;
  padding: 0.53333rem 0.45333rem;
  border-bottom: 1px solid #ccc;
  line-height: 1.46667rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > div:nth-child(1) > span {
  font-size: 0.37333rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-div-big {
  padding: 0 0.21333rem;
  height: 1.94667rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-div-big > .top-div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.21333rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-div-big > .top-div > .top-div-top > span:nth-child(1) {
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  border: 2px solid #ffe1ba;
  display: inline-block;
  background: #fff7ec;
  color: #ff834a;
  border-radius: 0.06667rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-div-big > .top-div > .top-div-top > span:nth-child(2) {
  font-size: 0.37333rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-div-big > .top-div > .top-div-bottom {
  color: #969696;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-botton {
  display: flex;
  flex-direction: column;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-botton > p {
  display: flex;
  justify-content: space-between;
  padding: 0 0.53333rem;
  margin-top: 0.26667rem;
  font-size: 0.37333rem;
}

.index-container > section > .section > div > .section-top > .top-footers > div > .top-botton > p:nth-child(3) {
  justify-content: flex-end;
  padding: 0 0.46667rem;
  margin-top: 0.64rem;
  font-size: 0.48rem;
}

.index-container > section > .section > div > .section-bottom > span {
  font-size: 0.50667rem;
  padding: 0.77333rem 0 0.32rem 0.4rem;
  display: inline-block;
}

.index-container > section > .section > div .section-footer {
  background: #f5f5f5;
  width: 100%;
}

.index-container > section > .section > div .section-footer .header-big {
  flex-wrap: wrap;
  margin-bottom: 0.26667rem;
  display: flex;
  width: 100%;
}

.index-container > section > .section > div .section-footer .header-big .header-sons {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 8.4rem;
  padding: 0 0.21333rem;
  background: #fff;
  margin: 0.13333rem;
  border-radius: 0.26667rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .imgs {
  display: flex;
  flex-direction: column;
  padding: 0.33333rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .imgs img {
  width: 3.46667rem;
  margin: 0 auto;
  margin-bottom: 0.29333rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .imgs > span {
  background: red;
  color: #fff;
  display: inline-block;
  width: 1.44rem;
  height: 0.49333rem;
  margin: 0 auto;
  border-radius: 0.13333rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons > span:nth-child(2) {
  font-size: 0.4rem;
  margin-bottom: 0.13333rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons > span:nth-child(3) {
  font-size: 0.32rem;
  color: #ccc;
  margin-bottom: 0.58667rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .div-bottomss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .div-bottomss > div {
  display: flex;
  flex-direction: column;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .div-bottomss > div > span:nth-child(1) {
  color: #ff4891;
  font-size: 0.24rem;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .div-bottomss > div > span:nth-child(2) {
  font-size: 0.4rem;
  font-weight: 600;
}

.index-container > section > .section > div .section-footer .header-big .header-sons .div-bottomss > span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #ff4891;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.45333rem;
  color: #fff;
}

.index-container > footer {
  height: 2.58667rem;
  background: #fff;
}

.index-container > footer > .footer-big {
  display: flex;
  justify-content: space-between;
  height: 1.28rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.index-container > footer > .footer-big > .div-span {
  display: flex;
  align-items: center;
}

.index-container > footer > .footer-big > .div-span span:nth-child(1) {
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 0.4rem;
}

.index-container > footer > .footer-big > .div-span span:nth-child(2) {
  margin-right: 0.24rem;
}

.index-container > footer > .footer-big > .div-spans {
  padding-top: 0.26667rem;
  text-align: center;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.index-container > footer > .footer-big > .div-spans > span:nth-child(2) {
  color: #b6b6b6;
}

.index-container > footer > .footer-big > .div-spans small {
  color: #ff5096;
}

.index-container > footer > .footer-big > .div {
  width: 2.13333rem;
  background: #ff4891;
  text-align: center;
  align-items: center;
  height: 1.29333rem;
  line-height: 1.29333rem;
  color: #fff;
  font-weight: 600;
}

.index-container > footer > .footer-bottom {
  padding: 0.26667rem;
  display: flex;
  justify-content: space-between;
}

.index-container > footer > .footer-bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
