html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-size: 12px;
}

#app {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}

i {
  font-style: normal;
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 0.4rem;
  height: 1.22667rem;
  align-items: center;
  color: #363636;
  background-color: #fff;
  box-sizing: border-box;
}

header em {
  font-size: 0.61333rem;
  color: #797979;
}

header span {
  font-size: 0.61333rem;
}

header .i {
  font-size: 0.4rem;
}

.content {
  flex: 1;
  overflow: auto;
}

.content section {
  padding: 0.37333rem 0.4rem;
  background-color: #fff;
  margin-top: 0.13333rem;
  box-sizing: border-box;
}

.content section dl {
  display: flex;
  font-size: 0.36rem;
}

.content section dl dd:nth-of-type(1) i {
  background-color: #F04146;
  padding: 0.02667rem 0.05333rem;
  color: #fff;
}

.content section dl dd:nth-of-type(2) {
  color: #F04146;
  font-weight: 600;
}

.content section dl dt {
  flex: 1;
  margin-right: 0.48rem;
  color: #333333;
}

.content section ul {
  display: flex;
  justify-content: space-between;
  height: 2.93333rem;
  margin-top: 0.48rem;
}

.content section ul li:nth-of-type(1) {
  display: flex;
  align-items: center;
  width: 0.53333rem;
}

.content section ul li:nth-of-type(1) i {
  width: 0.53333rem;
  height: 0.53333rem;
  font-size: 0.53333rem;
  color: #fff;
  border-radius: 50%;
}

.content section ul li:nth-of-type(2) {
  margin: 0.33333rem 0.8rem 0px 1.14667rem;
}

.content section ul li:nth-of-type(2) img {
  width: 1.46667rem;
  height: 1.78667rem;
}

.content section ul li:nth-of-type(3) .text h4 {
  color: #999999;
}

.content section ul li:nth-of-type(3) .text p {
  display: flex;
  justify-content: space-between;
  margin-top: 0.66667rem;
}

.content section ul li:nth-of-type(3) .text p span {
  color: #F2575B;
}

.content section ul li:nth-of-type(3) .text p .price-box {
  width: 2.16rem;
  height: 0.49333rem;
  line-height: 0.49333rem;
  border: 1px solid #E1E1E1;
}

.content section ul li:nth-of-type(3) .text p .price-box i {
  width: 0.45333rem;
  height: 0.49333rem;
  text-align: center;
}

.content section ul li:nth-of-type(3) .text p .price-box i:nth-of-type(1) {
  border-right: 1px solid #E1E1E1;
}

.content section ul li:nth-of-type(3) .text p .price-box i:nth-of-type(2) {
  border-left: 1px solid #E1E1E1;
}

.content section ul li:nth-of-type(3) .text p .price-box input {
  position: relative;
  width: 1.2rem;
  height: 0.46667rem;
  text-align: center;
  top: -0.01333rem;
  border: none;
}

footer {
  height: 1.46667rem;
  background-color: #fff;
  color: #363636;
}

footer dl {
  display: flex;
}

footer dl dt {
  flex: 2;
  display: flex;
  box-sizing: border-box;
  padding: 0px 0.26667rem;
  justify-content: space-between;
  align-items: center;
}

footer dl dt .allselect {
  display: flex;
}

footer dl dt .allselect .allchecked-border {
  width: 0.53333rem;
  height: 0.53333rem;
  margin-right: 0.21333rem;
}

footer dl dt .allselect .allchecked-border i {
  width: 0.53333rem;
  height: 0.53333rem;
  font-size: 0.53333rem;
  color: #fff;
  border-radius: 50%;
}

footer dl dt .allselect span {
  font-size: 0.4rem;
}

footer dl dt .allprice span:nth-of-type(1) {
  font-size: 0.32rem;
}

footer dl dt .allprice span:nth-of-type(2), footer dl dt .allprice span:nth-of-type(3) {
  font-size: 0.37333rem;
  color: #F04247;
}

footer dl dt .allprice .all-price {
  display: inline-block;
  width: 1.06667rem;
}

footer dl dd {
  flex: 1;
  text-align: center;
  line-height: 1.46667rem;
  color: #fff;
  background-color: #F04146;
  font-size: 0.4rem;
}

.toggle-border {
  border: 1px solid #ccc;
}

.toggle-bgcolor {
  background-color: red;
}
